*{
    font-family: Arial, Verdana, sans-serif;
    text-align: justify;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border-radius: 0.5rem;
}

/* Allgemeine Einstellungen, gelten für alle Elemente mit diesem Namen*/
p {
    font-size: 1rem
}

h1 {
    font-size: 1.8rem;

}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

/* Für alle Überschriften Text zentrieren, untere margin 2rem*/
h1, h2, h3 {
    text-align: center;
    margin-bottom: 2rem;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header {
    grid-row: 1/3
}

@media (max-width: 60rem) {
    main {
        text-align: center;
        margin-top: 2rem;
    }
    .cut {
        color: #332940;
        margin-top: 1rem;
    }
}

@media (min-width: 60rem) {
    main {
        text-align: center;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cut {
        visibility: hidden;
    }
}

#app {
    text-align: center;
}

#controls {
    text-align: left;
}

#input {
    text-align: center;
    margin-top: 1rem;
}

.info {
    text-align: left;
    margin-top: 1rem;
}

.textField {
    margin-top: 1rem;
    text-align: center;
}

#btns {
    text-align: center;
}


#btn {
    color: black;
    text-align: center;
    width: 5rem;
}